mixin layout(title)
  doctype html
  meta(charset="utf-8")
  html(lang="en")
    head
      title= title
  body
    .container
      block
    link(rel="stylesheet", href="/software-engineering-labs/vt17/assets/css/main.css")
    link(rel="stylesheet", href="/software-engineering-labs/vt17/assets/css/prism.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="/software-engineering-labs/vt17/assets/js/prism.js")
    script(src="http://code.jquery.com/jquery-2.1.3.min.js")
    script(src="/software-engineering-labs/vt17/assets/js/main.js")



mixin handin(n, title)
  h3 Exercise 
    =n
    |  &mdash;  
    a(href=`#exercise-${n}`)= title
  block


mixin i-folder
  i.fa.fa-folder-open-o  
    if block
      block

mixin i-code
  i.fa.fa-file-code-o  
    if block
      block

mixin i-text
  i.fa.fa-file-text-o  
    if block
      block

mixin i-img
  i.fa.fa-file-image-o   
    if block
      block

mixin i-zip
  i.fa.fa-file-zip-o
    if block
      block

mixin toc-exercises(n)
  ol.exercise-summary
    +i-zip  
      code B#{n}.zip
    li
      ol
        if block
          block

mixin toc-exercise(n)
  li
    +i-folder   
      code Ex#{n}
    ol
      if block
        block

mixin toc-assignment
  li
    if block
      block

mixin vs-solution(name)
  +i-folder
    code=name
    |  (VS solution)
  if block
    ul
      block

mixin vs-file(name)
  li
    +i-code
      code
        if block
          block

mixin file-img(name)
  +i-img
    code=name

mixin file-text(name)
  li
    +i-text
      code=name
        if block
          block



mixin exercise(bignum, num, name)
  h3
    a.hideable(data-target=`e${num}`) #{bignum}.#{num}
      != name
  div(id=`e${num}`)
    if block
      block


mixin easy(text)
  span.easy
    i.fa.fa-star
    |  
  =text


mixin medium(text)
  span.medium
    i.fa.fa-star
    i.fa.fa-star
    |  
  =text

mixin hard(text)
  span.hard
    i.fa.fa-star
    i.fa.fa-star
    i.fa.fa-star
    |  
  =text


mixin youtube(path)
  iframe(width="560", height="315", src=path, frameborder="0", allowfullscreen, class="youtube")


mixin divider
  .divider
    i.fa.fa-handshake-o
